# Day 22 함수(메서드), 조건문 활용

In [1]:
def solution(n_str: str) -> str:
    """
    0 떼기
    
    :param n_str: 정수로 이루어진 문자열
    :return: n_str의 가장 왼쪽에 처음으로 등장하는 0들을 뗀 문자열
    """
    return n_str.lstrip('0')


print(solution("0010"))
print(solution("854020"))

10
854020

In [2]:
def solution(a: str, b: str) -> str:
    """
    두 수의 합

    :param a: 0 이상의 정수 문자열
    :param b: 0 이상의 정수 문자열
    :return: a + b의 값을 문자열로 반환
    """
    return str(int(a) + int(b))


print(solution("582", "734"))
print(solution("18446744073709551615", "287346502836570928366"))
print(solution("0", "0"))

1316
305793246910280479981
0

In [3]:
def solution(arr: list, delete_list: list) -> list:
    """
    배열의 원소 삭제하기

    :param arr: 정수 배열
    :param delete_list: 정수 배열
    :return: arr의 원소 중 delete_list의 원소를 모두 삭제하고 남은 원소들은 기존의 arr에 있던 순서를 유지한 배열을 반환
    """
    return [i for i in arr if i not in delete_list]


print(solution([293, 1000, 395, 678, 94], [94, 777, 104, 1000, 1, 12]))
print(solution([110, 66, 439, 785, 1], [377, 823, 119, 43]))

[293, 395, 678]
[110, 66, 439, 785, 1]

In [4]:
def solution(my_string: str, target: str) -> int:
    """
    부분 문자열인지 확인하기

    :param my_string: 문자열
    :param target: 문자열
    :return: target이 문자열 my_string의 부분 문자열이라면 1을, 아니라면 0을 반환
    """
    return int(target in my_string)


print(solution("banana", "ana"))
print(solution("banana", "wxyz"))

1
0